[submodule "source/schedule"]
	path = source/schedule
	url = https://github.com/dotchetter/schedule

[submodule "CommandIntegrator"]
	path = CommandIntegrator
	url = https://github.com/dotchetter/CommandIntegrator.git
